.container {
    height: 200px;
}

.blue {
    background: blue;
    padding: 10px;
}



.col-3 {
    border: 1px solid red;
    height: 200px;
}

.blue {
    background-color: lightblue;
    padding: 10px;
}
.imagen {
    width: 100%; /* Asegura que la imagen ocupe el espacio completo de la zona */
    height: auto;
}

