[class*="col"] {
    
    
   
    color: white;
}

img {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}

.cajas{
        width: 200px;
        height: 200px;
    

}